
.Service td {
    padding: 20px;
    transition: background-color 0.2s ease-in-out;
    }
    
  .Service:hover {
    background-color: #d4e1f7;
    }
    
  .Service-button {
    width: 36px;
    height: 36px;
    margin-right: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    }
    
  .Service-button.edit {
    background-color: #0d6efd;
    }
    
  .Service-button.delete {
    background-color: #dc3545;
    }
    
  .Service-button:hover {
    opacity: 0.8;
    }