.container-fluid {
    background: linear-gradient(to right, white 14%, #0d6efd);

    min-height: 100vh;
}
.custom-border {
    border-right: 3px solid white !important;
}

.headerMenu {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerIcon {
    color:  #1c5cbc; 
    font-size: 50px;
}
.fa-user {
    padding-right: 0.4rem;
}
.fa-money-check-dollar {
    padding-right: 0.2rem;
}
.fa-right-from-bracket {
    padding-right: 0.6rem;
}
.fa-chart-line {
    padding-right: 0.2rem;
}

.userEmail {
    color:  #1c5cbc;
    font-size: small;
    display: flex;
    justify-content: center;
    
}

/* .link-wrapper {
    display: flex;
    align-items: center;
}

.link-wrapper i {
    margin-right: 10px;
} */

.link {
    color:  #0d6efd; 
    font-size: 16px;
    padding: 20px 25px 5px 16px;
    border-right: none;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background-color 0.3s, border 0.3s;
}

.link:hover, .link:focus {
    background-color: #f9f9f9;
    color: #0c3ba2;
    /* border: 1px solid #2966ea; */
    font-weight: 500;
    text-decoration: none;
}

/* i {
    color:  #0d6efd;
    padding: 20px 0px 5px 16px;
} */

/* h1 {
    font-family: monospace;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px  #2966ea;
    text-decoration: underline;
} */

.lead {
    font-weight: 500;
}

span {
    color:  #0d6efd;
    font-weight: 500;
}